        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sensores de Aparcamiento
                        <small>Mediante Electromagnetismo</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Página Principal</a>
                        </li>
                        <li class="active">Sensores electromagnéticos</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                 <p> 
                     Los sensores electromagnéticos están
                     basados en la variación de un campo magnético o de un campo eléctrico sin
                     modificar la inductancia o la capacidad.
                     <br>
                 </p>
                 <div class="col-xs-6">
                    Se pueden clasificar en:
                    <ul class="fa-ul">
                        <br>
                        <li><i class="fa-li fa fa-square"></i>Sensores basados en la <b>ley de Faraday</b>  </li>

                        Su funcionamiento está basado en el mismo
                        principio físico que los generadores de
                        corriente alterna. Los más utilizados están
                        constituidos por un rotor de imanes
                        permanentes y una bobina de N espiras en el
                        estator. 
                        <br>
                        <li> <i class="fa-li fa fa-square"></i>Sensores basados en el <b>efecto Hall</b>  </li>

                        Si un conductor o un semiconductor a través del cual circula una corriente se somete
                        a un campo magnético perpendicular a la misma, se genera una tensión o diferencia
                        de potencial VH (tensión de Hall) transversal, cuyo sentido se invierte al hacerlo el
                        sentido del campo magnético o el de la corriente. 
                    </ul>
                    <br>
                    <img src="images/electromagnetic_1.png"/>
                </div>
                <div class="col-xs-6">

                    <img width="40%" height="50%" src="images/electromagnetic_2.png"/>

                    <img width="50%" height="50%" src="images/electromagnetic_3.png"/>


                    <br> <br>

                    Se instalan de 2-4 sensores para generar un campo electromagnético que detecta objectos que entren en el radio del campo.



                    <br>      
                    <b>Ventajas : </b> 
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>Su instalación suele ser bastante discreta</li>
                        <li><i class="fa-li fa fa-check-square"></i>No suelen tener ángulos muertos</li>
                    </ul>
                    <b>Desventajas : </b> 
                    <br>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-close"></i>No avisan el lado por el que se acerca el obstáculo </li>
                        <li><i class="fa-li fa fa-close"></i>El agua, en exceso , puede afectar a la correcta detección </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-12">
                <h2> Vídeos relacionados </h2>
                <iframe width="853" height="480" src="http://www.youtube-nocookie.com/embed/DfqR2wV6kik?rel=0" frameborder="0" allowfullscreen></iframe>
                <iframe  width="853" height="480" src="http://www.youtube-nocookie.com/embed/M85HEPr3mh0?rel=0" frameborder="0" allowfullscreen></iframe>

                <h2> Links para obtener más información </h2>

                <a href="http://libroweb.alfaomega.com.mx/catalogo/automatasprogramables/libreacceso/libreacceso/reflector/ovas_statics/sensores/temas/SA_TEMA_08-ELECTROMAGNETISMO.pdf"> Universidad de Vigo - Sensores Electromagnéticos [ PDF ] </a> 
                <br>
                <a href="http://es.wikipedia.org/wiki/Interacci%C3%B3n_electromagn%C3%A9tica"> Wikipedia - Interacción electromagnética </a>

                <br>

            </div>

        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->