        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sensores de Aparcamiento
                        <small>Mediante Ultrasonidos</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Página Principal</a>
                        </li>
                        <li class="active">Sensores ultrasónicos</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                    <p style="margin:5px;">
                     El ultrasonido es una onda acústica de muy alta frecuencia (+ 20kHz) , por encima de rango de frecuencias del oído humano. Los murciélagos utilizan ecolocalización ( un radar ultrasónico biológico ) con ondas de 200kHz , muy lejos de las capacidades del oído humano.
                 </p>
                 <br>
                 <br>
                 <div class="col-lg-12">
                    <div id="imagen1" class="col-xs-6">
                       <img src="images/ultrasonic_intro_image1.png"/>

                       <p>  
                           <br>      
                           <b>Ventajas : </b> 
                           <br>
                           <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check-square"></i>Te indican por qué lado se encuentra el obstáculo</li>
                            <li><i class="fa-li fa fa-check-square"></i>Tienen un rango de detección mayor que el electromagnético</li>
                        </ul>
                        <b>Desventajas : </b> 
                        <br>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-close"></i>Deben mantenerse los sensores limpios de barro , nieve ,etc ... para que sean eficaces </li>
                            <li><i class="fa-li fa fa-close"></i>Tienen ángulos muertos de medición y hay superficies con las que no funcionan bien ( arbustos , vallas , etc ) </li>
                        </ul>
                    </p>

                </div>


                <div class="col-xs-6">
                  <div id="texto1" style="margin-bottom:117px;">
                      Los ultrasonidos tienen varias características que los hacen especialmente  <b>útiles: </b>
                      <br>
                      <ul class="fa-ul">

                        <li><i class="fa-li fa fa-square"></i>Son inaudibles para el ser humano , y por lo tanto indetectables para el usuario.</li>
                        <li><i class="fa-li fa fa-square"></i>Las ondas pueden ser producidas de forma direccional </li>
                        <li><i class="fa-li fa fa-square"></i>Menor velocidad de propagación que la luz o las ondas de radio </li>
                    </ul>
                    <p>
                        Los ultrasonidos viajan en el aire alrededor de 340 m/s , como otros sonidos. <br>
                        El tiempo que tarda una onda de ultrasonido en viajar 10 centímetros es aproximadamente 3ms , al contrario que 3.3ns que tarda la luz o las ondas de radio. Esto permite que se pueda medir utilizando procesamiento lento de señal.
                    </p>
                </div>

                <img src="images/ultrasonic_2.png"/>

            </div>

            <div class="col-md-12">
                <h2> Vídeos relacionados </h2>
                <iframe width="853" height="480" src="http://www.youtube-nocookie.com/embed/b_m8DqTlOLE?rel=0" frameborder="0" allowfullscreen></iframe>
                <iframe  width="853" height="480" src="http://www.youtube-nocookie.com/embed/M85HEPr3mh0?rel=0" frameborder="0" allowfullscreen></iframe>

                <h2> Links para obtener más información </h2>

                <a href="http://www.newelectronics.co.uk/electronics-technology/an-introduction-to-ultrasonic-sensors-for-vehicle-parking/24966/"> Introducción a los sensores ultrasónicos para el aparcamiento [ En inglés ] </a> 
                <br>
                <a href="http://es.wikipedia.org/wiki/Asistente_de_aparcamiento#Sistemas_basados_en_ultrasonidos"> Wikipedia - Sistemas basados en ultrasonidos </a>

                <br>

            </div>
        </div>
        <!-- /.row -->

        <hr>

        

    </div>
    <!-- /.container -->
